{% extends 'base.html.twig' %}

{% block title %}codepromo{% endblock %}

{% block body %}
    <main id="main" class="main">
        
        <section class="section">
            <div class="row">
                <div class="col-lg-12">

                    <div class="card">

                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}


                        {% for message in app.flashes('noticedelete') %}
                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
  {% for message in app.flashes('noticeupdate') %}
                            <div class="alert alert-primary bg-primary text-light border-0 alert-dismissible fade show" role="alert">
                                {{ message }}
                            </div>

                        {% endfor %}
                        <div class="card-body">

                            <h5 class="card-title">List codepromos</h5>
                            <a href="{{ path('app_categoriecodepromo_new') }}">
                                <button type="button" style="float: right;padding: 10px;" class="btn btn-outline-primary btn-icon-text"><i class="mdi mdi-pencil btn-icon-prepend"></i>create new code promo</button>
                            </a>

    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Code</th>
                <th scope="col">Value</th>
                <th scope="col">NbUsers</th>
                <th scope="col">actions</th>
            </tr>
        </thead>
        <tbody>
        
        {% for categoriecodepromo in categoriecodepromos %}
            <tr>
                <td>{{ categoriecodepromo.id }}</td>
                <td>{{ categoriecodepromo.code }}</td>
                <td>{{ categoriecodepromo.value }}</td>
                <td>{{ categoriecodepromo.nbUsers }}</td>
                <td>
                    <a href="{{ path('app_categoriecodepromo_show', {'id': categoriecodepromo.id}) }}"><button type="button" class="btn btn-outline-info">show</button></a>
                    <a href="{{ path('app_categoriecodepromo_edit', {'id': categoriecodepromo.id}) }}"><button type="button" class="btn btn-outline-success">edit</button></a>
                </td>
            </tr>
       
        {% endfor %}
           <tr>
                                    <td>
                                        {% if categoriecodepromos | length == 0 %}

                                            <p style="text-align: center">code promo vides</p>

                                        {% endif %}

                                    </td>
                                </tr>
        </tbody>
    </table>


      </div>

                    </div>



                </div>


            </div>
        </section>

    </main>
{% endblock %}