{% extends 'baseBack.html.twig' %}
{% block body %}

    <div class="col-12 grid-margin stretch-card">
        <div class="row">
            <a href="{{ path('app_category') }}">
                <i class="fa fa-arrow-circle-left" style="font-size: 30px; color: black;"></i>
            </a>
        </div>
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Ajouter Catégory</h4>
                {{ form_start(f,{attr:{novalidate:'novalidate'}}) }}
                <div class="row mb-3">
                    <label for="inputText" class="col-sm-4 col-form-label">categoryname</label>
                    <div class="col-sm-10">
                        {{ form_widget(f.categoryname,{'attr':{'class':'form-control'}}) }}
                        {{ form_errors(f.categoryname,{'attr':{'class':'text-danger'}}) }}
                    </div>
                </div>

                <button type="submit" class="btn btn-gradient-primary me-2">Submit</button>
                <button class="btn btn-light">Cancel</button>
                {{ form_end(f) }}
            </div>
        </div>
    </div>

{% endblock %}
