{% extends 'baseBack.html.twig' %}

{% block title %}User{% endblock %}

{% block body %}
    <h1>User</h1>

<<<<<<< HEAD
   <div class="row">
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">User Informations</h4>
                    <div class="table-responsive">
                      <table class="table">
                        <thead>
                         <tr>
                    <th>Id</th>
                    <th>Nom</th>
                    <th>Prénom</th>
                    <th>Age</th>
                    <th>Numéro de téléphone</th>
                    <th>Email</th>
                    <th>Role</th>
                    <th>Statut</th>
                    <th>Actions</th>
                </tr>
                        </thead>

            <tbody>
                
                    <tr>
                        <td>{{ user.id }}</td>
                        <td>{{ user.nom }}</td>
                        <td>{{ user.prenom }}</td>
                        <td>{{ user.age }}</td>
                        <td>{{ user.numTel }}</td>
                        <td>{{ user.email }}</td>
                        <td>{{ user.role }}</td>
                        <td>{{ user.status }}</td>
                        
                        
                        <td>
                           
                            <a href="{{ path('app_user_back_edit', {'id': user.id}) }}">{{ include('user_back/_delete_form.html.twig') }}</a>
                        </td>
                    </tr>

            </tbody>
        </table>
    </div>

    <a href="{{ path('app_user_back_index') }}">Back to list</a>


=======
    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ user.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ user.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ user.prenom }}</td>
            </tr>
            <tr>
                <th>Age</th>
                <td>{{ user.age }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>
                    {% if user.image %}
                        <img src="{{ asset('uploads/' ~ user.image) }}" alt="{{ user.nom }}'s image">
                    {% else %}
                        No image available
                    {% endif %}
                </td>
            </tr>
            <tr>
                <th>NumTel</th>
                <td>{{ user.numTel }}</td>
            </tr>
            <tr>
                <th>Email</th>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <th>Mdp</th>
                <td>{{ user.mdp }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ user.status }}</td>
            </tr>
            <tr>
                <th>Resetcode</th>
                <td>{{ user.resetcode }}</td>
            </tr>
            <tr>
                <th>Confirmcode</th>
                <td>{{ user.confirmcode }}</td>
            </tr>
            <tr>
                <th>Statuscode</th>
                <td>{{ user.statuscode }}</td>
            </tr>
            <tr>
                <th>Role</th>
                <td>{{ user.role }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_user_back_index') }}">Back to list</a>

    <a href="{{ path('app_user_back_edit', {'id': user.id}) }}">Edit</a>

    {{ include('user_back/_delete_form.html.twig') }}
>>>>>>> 877c365e6de165875e91361e27f8d158d37b1f4a
{% endblock %}
