{% extends 'baseFront.html.twig' %}

{% block body %}
    <div class="properties__card">
        <div class="row">
            {% for p in listS %}
                <div class="col-md-4">
                    <div class="properties__caption text-center"> <!-- Added text-center class -->
                        <img src="{{ p.coursimage }}" class="img-fluid mx-auto d-block" alt="" style="max-width: 100px; max-height: 100px;"> <!-- Added mx-auto d-block classes -->
                        <h3><a href="#">Cours Name: {{ p.coursname }}</a></h3>
                        <p>Description: {{ p.coursdescription }}</p>
                        <div class="rating">
                            {% for i in range(1, 5) %}
                                {% if i <= averageRatings[p.id] %}
                                    <i class="fas fa-star"></i>
                                {% else %}
                                    <i class="far fa-star"></i>
                                {% endif %}
                            {% endfor %}
                            <span>({{ averageRatings[p.id] }})</span> based on {{ p.avis|length }} reviews
                        </div>
                        <div class="price">
                            <span>Prix: {{ p.coursprix }}TND</span>
                        </div>
                        <a href="#" class="border-btn border-btn2">Reserver</a>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
