{% extends 'baseBack.html.twig' %}

{% block body %}
    <main id="main" class="main">
        <div class="pagetitle">
            <h1>Les Cours</h1>
            <nav>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                    <li class="breadcrumb-item">Tables</li>
                    <li class="breadcrumb-item active">General</li>
                </ol>
            </nav>
        </div><!-- End Page Title -->

        <section class="section">
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success bg-success text-light border-0 alert-dismissible fade show"
                                 role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        {% for message in app.flashes('noticedelete') %}
                            <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show"
                                 role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                        <div class="card-body">
                            <h5 class="card-title">List Cours</h5>
                            <a href="{{ path('ajouterCours') }}">
                                <!-- Remplacer le bouton "Ajouter" par une icône -->
                                <i class="fas fa-plus-circle" style="float: right; font-size: 24px; color: #007bff; cursor: pointer;" title="Ajouter" onclick="window.location='{{ path('ajouterCours') }}';"></i>
                            </a>
                            <!-- Default Table -->
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">coursname</th>
                                    <th scope="col">coursdescription</th>
                                    <th scope="col">coursimage</th>
                                    <th scope="col">coursprix</th>
                                    <th scope="col">Categorie</th>
                                    <th scope="col">Modifier</th>
                                    <th scope="col">Supprimer</th>
                                    <th scope="col">Detail</th>
                                    <th scope="col">Statistique</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for p in listS %}
                                    <tr>
                                        <td>{{ p.coursname }}</td>
                                        <td>{{ p.coursdescription }}</td>
                                        <td>
                                            {% set absoluteImagePath = p.coursimage %}
                                            {% set relativeImagePath = absoluteImagePath|replace({'C:\\Users\\LENOVO\\Desktop\\GestionCours\\GestionCours/public': ''}) %}
                                            <img style="width: 75px; height: 55px; padding: 5px;"
                                                 src="{{ asset(relativeImagePath) }}" />
                                        </td>
                                        <td>{{ p.coursprix }} TND</td>
                                        <td>{{ p.idcategory.getCategoryname() }}</td>
                                        <td>
                                            <a href="{{ path('modifierCours',{id:p.id}) }}">
                                                <button type="button" class="btn btn-outline-success btn-icon">
                                                    <i class="fas fa-pencil-alt"></i>
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="javascript:void(0)"
                                               onclick="if(confirm('Voulez vraiment supprimer ?')){window.location='{{ path('suppressionCours', {'id': p.id }) }}';}">
                                                <button type="button" class="btn btn-outline-danger btn-icon">
                                                    <i class="fas fa-trash"></i>
                                                </button>
                                            </a>
                                        </td>
                                        <td>
                                            <a href="{{ path('detailCours',{id:p.id}) }}">
                                                <button type="button" class="btn btn-outline-dark btn-icon">
                                                    <i class="fas fa-info-circle"></i>
                                                </button>
                                            </a>
                                        </td>

                                        <td>
                                            <a href="{{ path('cours_statistics',{id:p.id}) }}">
                                                <button type="button" class="btn btn-outline-dark btn-icon">
                                                    <i class="fas fa-chart-bar"></i>
                                                </button>
                                            </a>
                                        </td>

                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <a href="{{ path('exportExcel') }}">
                                <button type="button" style="float: right;padding: 10px;margin-left: 10px;" class="btn btn-outline-secondary">Exporter Excel</button>
                            </a>
                            <a href="{{ path('tri') }}">
                                <button type="button" style="float: left;padding: 10px;margin-right: 10px;" class="btn btn-outline-info">tri croissant</button>
                            </a>

                            <a href="{{ path('trid') }}">
                                <button type="button" style="float: left;padding: 10px;" class="btn btn-outline-info">tri decroissant</button>
                            </a>
                        </div>

                            <!-- End Default Table Example -->
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>
{% endblock %}
